.sidebar{
  	position: -webkit-sticky; 
    position: sticky;
   	top: 0;
    float: left; 
    padding: 2px;
}

.sidebar-item{
	position: relative;
	margin-top: 3px;
	display: block;
	height: 55px;
	width: 55px;
	background-color: white;
	border-radius: 15px;
}
.sidebar-icon{
	height: 55px;
	width: 55px;
}
.notification{
	right: 0;
	bottom: 0;
	position: absolute;
	margin-top: auto;
	margin-left: auto;
	height: 15px;
	width: 15px;
	border-radius: 60%;
	background-color: #ffa724;
}
@media (max-width: 900px) and (max-height: 900px) {
  .sidebar{
  	display: none;
  }
}
.sidebar{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 